.toDo {
  width: 900px;
  margin: 20px auto 0 auto
}

.toDoHeader {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}


@media screen and (max-width: 900px) {
  .toDo {
    width: 700px;
  }
}
